name: Deploy on Windows

on:
  workflow_run:
    workflows: ["Build on Ubuntu"]
    types:
      - completed

jobs:
  deploy:
    runs-on: [self-hosted, windows]

    steps:
      - name: Download Build artifact
        uses: actions/download-artifact@v3
        with:
          name: build-artifact
          path: ./Build

      - name: List files in Build directory
        run: dir .\Build
